@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* ==== LAYER.0 navigation bar style ==== */
.navbar {
    padding: .8rem;
    background-color: #CCD9D5;
}

.navbar-nav li {
    padding-right: 20px;
    display: inline !important;
}

.nav-link {
    font-size: 1.1em !important;
}

.form-inline {
    padding-right: 20px;
}

/* ==== LAYER.1 carousel style ==== */
.carousel-inner img {
    /* width: 100% !important;
    height: 100% !important; */
    /* max-height: 560px;
    max-width: none;
    min-width: 100%;
    min-height: 50px; */
}

.img-fluid {
    max-width: 100%;
    max-height: 560px;
    min-width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.carousel-caption button.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.carousel-caption button.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

/* ==== ELEMENT: embedded ytb video size control ==== */
.video-wrapper {
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 315px;
}

.video-wrapper::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

/* ==== LAYER.3 course show deck style control ==== */
div.card-deck #course-card {
    width: 18rem !important;
    background-color: #F2916D !important;
}

div.card-deck #member-card {
    width: 8rem !important;
    background-color: #A3CFD9 !important;
}

div.card-columns #course-card {
    background-color: #F2916D !important;
}

/* course-card bottom promotion color */
div.card-footer #promote {
    color: white !important
}

/* course'topics card margin style */
#topic-card {
    margin-left: 2rem;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
}

#team-profile {
    background-color: #5F5E5C !important;
}

#course-detail-page {
    background-color: #CCD9D5 !important;
}
div.col img.gif {
    max-width: 200px;
}

form.form-signin input {
    margin-top: 1.2rem !important
}

form.form-signin button {
    margin-top: 1.2rem !important
}

/* ==== website footer style ==== */
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 0.5rem;
}

/* ==== fixed bg img ==== */
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0, im !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('/static/images/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: auto;
}

[class*="col-"] {
    padding: 1rem;
}

