{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
    <h1>You've added a category to course {{ course.course_id }}</h1>
{% endblock %}

{% block body_block %}
    <ul class="nav flex-column">

    
<!--show some trending pages-->
<div class="container-fluid">
    {% if category %}
        <h1>{{ category.name }}</h1>
        
        <!--C17 like button-->
        <div>
            <strong id="like_count">{{ category.likes }}</strong> likes
            {% if user.is_authenticated %}
            <button id="like_btn"
                    data-categoryid="{{ category.id }}"
                    class="btn btn-primary btn-sm"
                    type="button">
                <span data-feather="thumbs-up"></span>
                Like Category
            </button>
            {% endif %}
        </div>
            

        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
        {% endif %}
        
    {% else %}
        The specified category does not exist!
    {% endif %}
</div>
    <div >
        {% if comments %}
            {% for comment in comments %}
                <div class="media" id="comment-post">
                    <img id="comment-profile" class="mr-3" src="{% static 'images/profile.jpg' %}" alt="Generic placeholder image">
                    <div class="media-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="mt-0">{{ comment.username }}</h5>
                            </div>
                            <div class="col">
                                @ {{ comment.posttime }}
                            </div>
                        </div>
                        {{ comment.content }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <form id="comment_form" method="post" action="{% url 'rango:add_comment' category.slug%}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Add Comment" />
    </form>
{% endif %}
    
{% endblock %}