{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock title_block %}

{% block body_block %}
<!--index slider-->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="{% static 'images/bg.jpg' %}" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-2">Learning<span class="text-warning">Hub</span></h1>
                <a href="#demo" role="button" class="btn btn-outline-light btn-lg">Watch Demo</a>
                <a href="{% url 'registration_register' %}" class="btn btn-success btn-lg" role="button">Sign Up Now!</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/bg2.jpg' %}" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-2">Learning<span class="text-warning">Hub</span></h1>
                <a href="#demo" role="button" class="btn btn-outline-light btn-lg">Watch Demo</a>
                <a href="{% url 'registration_register' %}" class="btn btn-success btn-lg" role="button">Sign Up Now!</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/bg3.jpg' %}" class="img-fluid" alt="Responsive image">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-2">Learning<span class="text-warning">Hub</span></h1>
                <a href="#jumbotron-window" role="button" class="btn btn-outline-light btn-lg">Watch Demo</a>
                <a href="{% url 'registration_register' %}" class="btn btn-success btn-lg" role="button">Sign Up Now!</a>
            </div>
        </div>
    </div>
</div>

<!--jumbotron-->
<div class="container-fluid" id="jumbotron-window">
<div class="row jumbotron align-items-center">
    <div class="col-md-auto"> <!--xs-12-->
        <div id="demo" class="video-wrapper embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9cKsq14Kfsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-6">
        <p class="lead">This website is a rango based tutorial website where people can find tutorials of good quality on various topics.</p>
        <a href="{% url 'rango:forum' %}"><button type="button" class="btn btn-outline-success btn-lg">Explore Tutorials</button></a>
    </div>
</div>
<hr>
</div>

<!--course view-->
<div class="container-fluid padding">
<div class="row align-items-center bg-light" id="course-view">
    <!--col nagivate to full course view-->
    <div class="col-md-auto"></div>
    <div class="col-md-auto">
        <a href="{% url 'rango:courses' %}"><button type="button" class="btn btn-outline-success btn-lg">More Courses</button></a>
    </div>

    <!--trending course view-->
    <div class="col">
        <div class="card-deck">
        {% if courses %}
            {% for course in courses %}
                <!--assign each course a card view-->
                <!-- <div class="col-lg"> -->
                    <div class="card bg-warning" id="course-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.course_name }}</h5>
                            <p class="card-text d-sm-none d-md-block">{{ course.course_description }}</p>
                        </div>
                        <div class="card-footer bg-success">
                            <a href="{% url 'rango:single_course' course.course_id %}" id="promote">details >></a>
                        </div>
                    </div>
                <!-- </div> -->
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="col-md-auto"></div>
</div>
<hr>
</div>

<!--meet the team-->
<div class="container-fluid padding">
<div class="row welcome text-center bg-light">
    <div class="col-12">
        <h3 class="display-4">Meet the Team</h3>
    </div>
</div>
</div>

<!--cards-->
<div class="container-fluid padding">
<div class="card-deck" id="member-deck">
    <div class="card bg-light" id="member-card">
        <img class="card-img-top" src="{% static 'images/profile.jpg' %}" alt="">
        <div class="card-body">
            <h4 class="card-title">Personas</h4>
            <p class="card-text">some intro TBA...</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Backend Dev</small>
        </div>
    </div>

    <div class="card bg-light" id="member-card">
        <img class="card-img-top" src="{% static 'images/profile.jpg' %}" alt="">
        <div class="card-body">
            <h4 class="card-title">Personas</h4>
            <p class="card-text">some intro TBA...</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Backend Dev</small>
        </div>
    </div>

    <div class="card bg-light" id="member-card">
        <img class="card-img-top" src="{% static 'images/profile.jpg' %}" alt="">
        <div class="card-body">
            <h4 class="card-title">Personas</h4>
            <p class="card-text">some intro TBA...</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Frontend Dev</small>
        </div>
    </div>
    
    <div class="card bg-light" id="member-card">
        <img class="card-img-top" src="{% static 'images/profile.jpg' %}" alt="">
        <div class="card-body">
            <h4 class="card-title">Personas</h4>
            <p class="card-text">some intro TBA...</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Frontend Dev</small>
        </div>
    </div>
</div>
</div>
{% endblock body_block%}