{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %} 
    Register - Step 2
{% endblock %}

{% block body_block %}
<hr>
<div class="container-fluid padding">
<div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
        <div class="container-fluid padding">
            <h3>Step 2 - Add a Profile</h3>

            <form method="post"
            action="{% url 'rango:register_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Profile" />
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
</div>
{%endblock%}
